ion-header {
  position: relative;
}

ion-content {
  --background: none;
  background-image: url('../../assets/ComidaRapida.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 40px 20px; /* Espaçamento adicional para garantir que o formulário não fique colado no topo e no fundo */
  box-sizing: border-box;
}

.form-wrapper {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  border-radius: 8px;
  max-width: 600px;
  width: 100%;
  padding: 20px;
  margin: 20px 20px; /* Ajusta a margem para que o formulário não toque as bordas da tela */
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.8);
}

ion-item {
  width: 100%;
  background-color: rgb(255, 255, 255);
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

#salvar {
  width: 50%;
  align-self: center;
}

.voltar-link {
  margin-top: 20px;
  color: #DC143C;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.voltar-link:hover {
  text-decoration: underline;
}

ion-button {
  margin-bottom: 10px;
  --background: #DC143C;
  --background-activated: #3171e0;
  --background-focused: #3171e0;
  --background-hover: #3171e0;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

ion-button:hover {
  transform: scale(1.05);
  background-color: transparent;
}

ion-button:active {
  transform: scale(0.95);
}

@media (max-width: 600px) {
  ion-content {
    padding: 20px 10px; /* Ajusta o espaçamento para dispositivos móveis */
  }

  .form-wrapper {
    padding: 30px 0; /* Reduz o espaço acima e abaixo do formulário em telas pequenas */
  }

  form {
    margin-top: 5%;
    max-width: 100%;
    width: 90%;
    padding: 10px;
  }

  ion-item {
    width: 100%;
    margin-bottom: 10px;
  }

  #salvar {
    width: 80%;
  }

  ion-button {
    font-size: 16px;
    padding: 8px 16px;
  }

  .voltar-link {
    font-size: 14px;
  }
}
